body {
    background-color: #282D35;
}

#funFactsTitle {
    font-weight: bold;
    font-size: 40px;
    padding-top: 1em;
    padding-left: 1em;
    letter-spacing: -0.05em;
}

.mainBody {
    color: white;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

ul {
    margin-left: 3em;
}

li {
    padding-top: 1.5em;
}